{% block content %} 
	<div class="row">
        <div id="project-content"class="large-12 columns">
            <h1>Datamineself</h1>
            <h2>2012, London. Mobile app for self-tracking.</h2>
            <p class="technology">Phonegap for Android.</p>
            <p class="description">Datamineself is mobile app to keep track of all the activities you do during the day.</p>
            <p class="project-links"></p>
            <p class="media">
                <img src="/assets/img/projects/datamineself/01.png" alt="">
            </p>
        </div>
    </div>
{% endblock %}