{% block content %} 
    <div class="row">
        <div id="project-content"class="large-12 columns">
            <h1>Glitchlondon</h1>
            <h2>2013 - ongoing, London. Glitch-art blog.</h2>
            <p class="technology">Audacity</p>
            <p class="description">glitchlondon is an online collection of glitched pictures of London</p>
            <p class="project-links"><a href="http://glitchlondon.tumblr.com" title="glitchlondon website" target="_blank">glitchlondon.tumblr.com</a></p>
            <p class="media">
                <img src="/assets/img/projects/glitchlondon/01.png" alt="">
                <img src="/assets/img/projects/glitchlondon/02.png" alt="">
                <img src="/assets/img/projects/glitchlondon/03.png" alt="">
            </p>
            
        </div>
    </div>
{% endblock %}