{% block content %} 
    <div class="row">
        <div id="project-content"class="large-12 columns">
            <h1>Pespow</h1>
            <h2>2014, London. Custom Wordpress theme</h2>
            <p class="technology">PHP, Javascript, Wordpress</p>
            <p class="description">Custom Wordpress theme for an Italian fashion brand.</p>
            <p class="project-links"><a href="http://www.pespow.com" title="Pespow website" target="_blank">www.pespow.com</a></p>
            <p class="media">
                <img src="/assets/img/projects/pespow/01.png" alt="">
                <img src="/assets/img/projects/pespow/02.png" alt="">
                <img src="/assets/img/projects/pespow/03.png" alt="">
            </p>
            
        </div>
    </div>
{% endblock %}