{% block content %} 
    <div class="row">
        <div id="project-content"class="large-12 columns">
            <h1>Pespow</h1>
            <h2>2014, London. Custom Wordpress theme</h2>
            <p class="technology">PHP, Javascript, Zurb Foundation, Wordpress</p>
            <p class="collaborators">Collaborators: <a href="http://aspectacularmachine.net/">Francesco Vedovato</a>, <a href="http://www.meul.it">Giuseppe Burdo</a></p>
            <p class="description">Custom Wordpress theme for an Italian fashion brand.</p>
            <p class="description">Developed remotely from London, I delivered a responsive Wordpress theme for the Italian brand Pespow.<br>I've been mostly working on the backend side of the project, trying to deliver the best and most customizable solution for the final client.</p>
            <p class="project-links"><a href="http://www.pespow.com" title="Pespow website" target="_blank">www.pespow.com</a></p>
            <p class="media">
                <img src="/assets/img/projects/pespow/01.png" alt="">
                <img src="/assets/img/projects/pespow/02.png" alt="">
                <img src="/assets/img/projects/pespow/03.png" alt="">
            </p>
            
        </div>
    </div>
{% endblock %}