{% block content %} 
	<div class="row">
        <div id="project-content"class="large-12 columns">
            <h1>pigmento</h1>
            <h2>2011, Italy. Interactive installation</h2>
            <p class="technology">openframeworks, GLSL, video projection/mapping.</p>
            <p class="collaborators">Collaborators: <a href="http://www.meul.it">Giuseppe Burdo</a>, Salvatore Santaniello, Achille Della Grazia </p>
            <p class="description">pigmento is a color experience to enrich learning awareness. It teach you the foundaments of color sythesis theory by moving a granular material over the surface, which is projected from the bottom.
            </p>
            <p class="description">pigmento is the master thesis in Interaction Design of Giuseppe Burdo. After been proposed to expose his project to the "Festival della Scienza" in October 2011, probably the biggest Science festival in Italy, he started building a team to bring the thesis prototype onto a real installation.<br>The challenged were multiple: from real-time tracking of particles (the chosen material was salt) to the color mixing algorithms.</p>
            <p class="description">I solved the problems above writing custom software based on openFrameworks and custom shaders.</p>
            <p class="project-links"><a href="http://www.maisongb.com/pigmento" title="pigmento website" target="_blank">maisongb.com/pigmento</a></p>
            <p class="media">
                <img src="/assets/img/projects/pigmento/01.jpg" alt="">
                <img src="/assets/img/projects/pigmento/02.jpg" alt="">
                <img src="/assets/img/projects/pigmento/03.jpg" alt="">
                <iframe src="//player.vimeo.com/video/56420371?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="100%" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

            </p>
            
        </div>
    </div>
{% endblock %}