{% block content %} 
    <div class="row">
        <div id="project-content"class="large-12 columns">
            <h1>Primisuoni</h1>
            <h2>2011, Venice. A circuit bended electronic toy patched as a midi controller.</h2>
            <p class="technology">Electronic toy, Max/MSP.</p>
            <p class="collaborators">Collaborators: <a href="http://www.stefanotrento.com" target="_blank">Stefano Trento</a>, powered by <a href="http://www.maisongb.com" target="_blank">Maisongb</a></p>
            <p class="description">Primisuoni is a modified electronic toy that generates noise sand glitches. The video shows the attempt of interfacing it to Max/MSP in order to be used as midi controller.</p>
            <p class="project-links"></p>
            <p class="media">
                <img src="/assets/img/projects/primisuoni/01.png" alt="">
            </p>
            <div class="flex-video">
                <iframe src="//player.vimeo.com/video/27943814?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="100%" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            
        </div>
    </div>
{% endblock %}