{% block content %} 
    <div class="row">
        <div id="project-content"class="large-12 columns">
            <h1>Skyperelationships</h1>
            <h2>2013 - ongoing, London. Visual blog.</h2>
            <p class="technology"></p>
            <p class="description">Skyperelationships is an online collection of Skype screenshots.<br>Being an expat, most of my interactions with relatives, friends and even collegues happen on the internet, using Skype.<br>I am recording a snapshot of these conversation, trying to visualize the concept of "Videoconference as primary relationships catalyst".</p>
            <p class="project-links"><a href="http://skyperelationships.tumblr.com" title="skyperelationships website" target="_blank">skyperelationships.tumblr.com</a></p>
            <p class="media">
                <img src="/assets/img/projects/skyperelationships/01.png" alt="">
            </p>
            
        </div>
    </div>
{% endblock %}