{% block content %} 
    <div class="row">
        <div id="project-content"class="large-12 columns">
            <h1>Skyperelationships</h1>
            <h2>2013 - ongoing, London. Visual blog.</h2>
            <p class="technology">Audacity</p>
            <p class="description">Skyperelationships is an online collection of Skype screenshots, exploring "Videoconference as primary relationships catalyst".</p>
            <p class="project-links"><a href="http://skyperelationships.tumblr.com" title="skyperelationships website" target="_blank">skyperelationships.tumblr.com</a></p>
            <p class="media">
                <img src="/assets/img/projects/skyperelationships/01.png" alt="">
            </p>
            
        </div>
    </div>
{% endblock %}