{% block content %} 
	<div class="row">
        <div id="project-content"class="large-12 columns">
            <h1>Superclock</h1>
            <h2>2014 - ongoing, Berlin. IOT wall clock</h2>
            <p class="technology">Arduino, custom HW, Java</p>
            <p class="collaborators">Collaborators: <a href="http://www.jerdesign.info" target="_blank">Jose Ernesto Rodriguez</a>, <a href="http://www.meul.it" target="_blank">Giuseppe Burdo</a></p>
            <p class="description">Superclock is an internet connected wall clock that shows you when the next public transport is coming.</p>
            <p class="description">The project started as <a href="/what/cityboarding">cityboarding</a> back in London and evolved into Superclock after Tito borrowed and worked on the concept for a university course.<br>Tired of the "unphysicality" of touchscreens and smartphones we want to investigate new forms of interaction and to challenge, from a design point of view, an everyday object as the clock. <br>We believe we can design, prototype and produce a smart connected object leaving the user with an analog visual and interactive experience.</p>
            <p class="description">Currently, we are prototyping the clock at <a href="http://www.betahaus.com" target="_blank">Betahaus</a> in Berlin</p>
            <p class="project-links"><a href="http://www.superclock.info" title="Superclock website" target="_blank">www.superclock.info</a></p>
            <p class="media">
                <img src="/assets/img/projects/superclock/01.png" alt="">
                <img src="/assets/img/projects/superclock/02.png" alt="">
                <img src="/assets/img/projects/superclock/03.png" alt="">
            </p>
            <div class="flex-video">
                <iframe src="//player.vimeo.com/video/105352629?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            
        </div>
    </div>
{% endblock %}