{% block content %} 
	<div class="row">
        <div id="project-content"class="large-12 columns">
            <h1>Superclock</h1>
            <h2>2014 - ongoing, Berlin. IOT wall clock</h2>
            <p class="technology">Arduino, custom HW, Java</p>
            <p class="description">Superclock is an internet connected wall clock that shows you when the next public transport is coming.</p>
            <p class="project-links"><a href="http://www.superclock.info" title="Superclock website" target="_blank">www.superclock.info</a></p>
            <p class="media">
                <img src="/assets/img/projects/superclock/01.png" alt="">
                <img src="/assets/img/projects/superclock/02.png" alt="">
                <img src="/assets/img/projects/superclock/03.png" alt="">
            </p>
            
        </div>
    </div>
{% endblock %}