// Make sure the charset is set appropriately
@charset "UTF-8";

// Global Foundation Settings
@import "foundation/settings";

// You can import only specific elements by adjusting the import below
@import "foundation";


@function grayscale($value) {
  @return #{ "grayscale(" + $value + ")" };
}

@mixin filter($properties) {
  // Your vendor prefixing stuff here, I am using Bourbon:
  @include prefixer(filter, $properties, webkit moz spec);
}


body{
	font-family: "adelle-sans";
}

a:link { color: #222; }
a:visited { color: #222; }
a:hover { color: #222; }
a:active { color: #222; }

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  }


  .row {
  	padding: 0 1em;
  }

 #content {
 	min-height: 100%;
 	padding-bottom: 2em; 
 }

/* HEADER */

#header {
	
}

.navigation {
	margin: 4em 0 2em 0;
	
}

.navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display:inline-block;
	padding-bottom: 0.2em;
	border-bottom: 1px solid #aaa;
}
.navigation ul li {
	display:inline-block;
	padding: 0 0.2em;
	float: left;
	margin-right: 1em;
	font-weight: 300;
	border-top: 1px solid rgba(0,0,0,0);

}
.navigation ul li:last-child{
	margin-right: 0;
}

.navigation ul li:hover {
	border-top: 1px solid #aaa;
}

/* PROJECTS */


.project-preview {
  	//border: 1px solid #aaa;
  	padding: 1em;

}

.project-preview-image:hover {
	cursor: pointer;
}

.project-preview-image {
	position:relative;
}

.project-preview-caption {
	width: 100%;
	min-height: 2em;
	background-color: rgba(255,255,255,0.7);
	position: absolute;
	bottom: 0;
}

.project-preview-caption p{
	margin:0;
	padding: 0 0.5em;
	text-align: left;
}

.desaturate {
	-webkit-transition: -webkit-filter 0.5s;
    -webkit-filter: grayscale(100%); 
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
}

.desaturate:hover {
	-webkit-transition: -webkit-filter 0.5s;
	filter: none;
    -webkit-filter: grayscale(0%);
}

.media img, .media iframe {
	margin: 1em 0em;
}

#project-content h1 {
	font-weight: 400;
	font-size: 2em;
	padding: 0;
	margin: 0;
}
#project-content h2 {
	font-weight: 300;
	font-size: 1em;
	font-style: italic;
	margin-bottom: 0;
}
.description {
	margin-bottom: 0.5em;
}

.technology{
	font-weight: 300;
}

.project-links {

}

.project-links a:hover{
	border-top: 1px solid;
}

.media{
	text-align: center;
}

/* FOOTER */

#footer{
	height: 2em;
	position:relative;
	bottom: 0px;
}
#footer p{
	text-align:center;

}



