{% block content %} 
	<div id="project-container" class="row ">
      <div class="large-4 medium-4 small-12 columns project-preview">
        <a href="what/superclock">
          <div class="project-preview-image">
            <img class="desaturate" src="/assets/img/projects/superclock/preview.png" alt="">
            <div class="project-preview-caption">
              <p>Superclock</p>
            </div>  
          </div>
        </a>
      </div>

      <div class="large-4 medium-4 small-12 columns project-preview">
        <a href="what/pespow">
          <div class="project-preview-image">
            <img class="desaturate" src="/assets/img/projects/pespow/preview.png" alt="">
            <div class="project-preview-caption">
              <p>Pespow</p>
            </div>  
          </div>
        </a>
      </div>

      <div class="large-4 medium-4 small-12 columns project-preview">
        <a href="what/pigmento">
          <div class="project-preview-image">
            <img class="desaturate" src="/assets/img/projects/pigmento/preview.png" alt="">
            <div class="project-preview-caption">
              <p>pigmento</p>
            </div>  
          </div>
        </a>
      </div>

      <div class="large-4 medium-4 small-12 columns project-preview">
        <a href="what/cityboarding">
          <div class="project-preview-image">
            <img class="desaturate" src="/assets/img/projects/cityboarding/preview.png" alt="">
            <div class="project-preview-caption">
              <p>Cityboarding</p>
            </div>  
          </div>
        </a>
      </div>

      <div class="large-4 medium-4 small-12 columns project-preview">
        <a href="what/snapbook">
          <div class="project-preview-image">
            <img class="desaturate" src="/assets/img/projects/snapbook/preview.png" alt="">
            <div class="project-preview-caption">
              <p>Snapbook</p>
            </div>  
          </div>
        </a>
      </div>

      <div class="large-4 medium-4 small-12 columns project-preview">
        <a href="what/datamineself">
          <div class="project-preview-image">
            <img class="desaturate" src="/assets/img/projects/datamineself/preview.png" alt="">
            <div class="project-preview-caption">
              <p>datamineself</p>
            </div>  
          </div>
        </a>
      </div>

      <div class="large-4 medium-4 small-12 columns project-preview end">
        <a href="what/glitchlondon">
          <div class="project-preview-image">
            <img class="desaturate" src="/assets/img/projects/glitchlondon/preview.png" alt="">
            <div class="project-preview-caption">
              <p>glitchlondon</p>
            </div>  
          </div>
        </a>
      </div>

      <div class="large-4 medium-4 small-12 columns project-preview end">
        <a href="what/skyperelationships">
          <div class="project-preview-image">
            <img class="desaturate" src="/assets/img/projects/skyperelationships/preview.png" alt="">
            <div class="project-preview-caption">
              <p>Skype relationships</p>
            </div>  
          </div>
        </a>
      </div>

      <div class="large-4 medium-4 small-12 columns project-preview end">
        <a href="what/primisuoni">
          <div class="project-preview-image">
            <img class="desaturate" src="/assets/img/projects/primisuoni/preview.png" alt="">
            <div class="project-preview-caption">
              <p>Primisuoni</p>
            </div>  
          </div>
        </a>
      </div>

      <div class="large-4 medium-4 small-12 columns project-preview end">
        <a href="what/wristio">
          <div class="project-preview-image">
            <img class="desaturate" src="/assets/img/projects/wristio/preview.png" alt="">
            <div class="project-preview-caption">
              <p>Wrist.io</p>
            </div>  
          </div>
        </a>
      </div>

  </div>
    

{% endblock %}