{% block content %} 
	<div id="project-container" class="row ">
      <div class="large-3 medium-4 small-12 columns project-preview">
        <a href="projects/superclock">
          <div class="project-preview-image">
            <img class="desaturate" src="/assets/img/projects/superclock/preview.png" alt="">
            <div class="project-preview-caption">
              <p>superclock</p>
            </div>  
          </div>
        </a>
      </div>

      <div class="large-3 medium-4 small-12 columns project-preview">
        <div class="project-preview-image">
          <img class="desaturate" src="/assets/img/projects/pigmento/preview.png" alt="">
          <div class="project-preview-caption">
            <p>pigmento</p>
          </div>  
        </div>

      </div>

      <div class="large-3 medium-4 small-12 columns project-preview">
        <div class="project-preview-image">
          <img class="desaturate" src="/assets/img/projects/cityboarding/preview.png" alt="">
          <div class="project-preview-caption">
            <p>cityboarding</p>
          </div>  
        </div>

      </div>

      <div class="large-3 medium-4 small-12 columns project-preview">
        <div class="project-preview-image">
          <img class="desaturate" src="/assets/img/projects/snapbook/preview.png" alt="">
          <div class="project-preview-caption">
            <p>snapbook</p>
          </div>  
        </div>

      </div>

      <div class="large-3 medium-4 small-12 columns project-preview">
        <div class="project-preview-image">
          <img class="desaturate" src="/assets/img/projects/datamineself/preview.png" alt="">
          <div class="project-preview-caption">
            <p>datamineself</p>
          </div>  
        </div>

      </div>

      <div class="large-3 medium-4 small-12 columns project-preview end">
        <div class="project-preview-image">
          <img class="desaturate" src="/assets/img/projects/glitchlondon/preview.png" alt="">
          <div class="project-preview-caption">
            <p>glitchlondon</p>
          </div>  
        </div>

      </div>

      <div class="large-3 medium-4 small-12 columns project-preview end">
        <div class="project-preview-image">
          <img class="desaturate" src="/assets/img/projects/skyperelationships/preview.png" alt="">
          <div class="project-preview-caption">
            <p>skype relationships</p>
          </div>  
        </div>

      </div>

      <div class="large-3 medium-4 small-12 columns project-preview end">
        <div class="project-preview-image">
          <img class="desaturate" src="/assets/img/projects/primisuoni/preview.png" alt="">
          <div class="project-preview-caption">
            <p>primisuoni</p>
          </div>  
        </div>

      </div>

      <div class="large-3 medium-4 small-12 columns project-preview end">
        <div class="project-preview-image">
          <img class="desaturate" src="/assets/img/projects/wristio/preview.png" alt="">
          <div class="project-preview-caption">
            <p>wrist.io</p>
          </div>  
        </div>

      </div>

  </div>
    

{% endblock %}