{% block content %}
<div class="row">
	<div class="large-6 medium-6 small-12 columns bio">
		<p>I firmly believe in collaboration as main source of creativity and I am a very sociable person! You can currently find and contact me in digital spaces like:</p>
		<ul class="t-list">
		     <li><a href="https://www.twitter.com/iamtenko" target="_blank">Twitter</a></li>
		     <li><a href="https://www.linkedin.com/in/libralato" target="_blank">Linkedin</a></li>
		     <li><a href="https://www.github.com/10ko" target="_blank">Github</a></li>
		     <li><a href="https://instagram.com/iamtenko" target="_blank">Instagram</a></li>
		 </ul>
		 <p>or you could just drop me an <a href="mailto:hi@tenko.it">email.</a> </p>
	</div>
</div>

{% endblock %} 