{% block content %}
<div class="row">
	<div class="large-6 medium-6 small-12 columns bio">
		<p>My name is Emanuele Libralato, I am a technologist originary from Italy and I am currently based in <del>Latina</del> <del>Rome</del> <del>Turin</del> <del>Venice</del> <del>London</del> Berlin.</p>
		<p>My background is in Software Engineering and I am interested in investigating intersections: between Art, Technology and Design. Between Analog and Digital worlds.</p>
		<p>I like to play with technology, I am in love with natural interfaces and I believe in a future without touchscreens.</p>
		<p>Do you want to work with me? I am availble for <a href="/where">hire</a>!</p>
		<h3>Exhibitions:</h3>
		<ul class="t-list">
		     <li>Cityboarding - 2013, World Maker Faire, New York</li>
		     <li>Pigmento - 2011, Palazzo Spinola Art Gallery, Genoa</li>
		     <li>Pigmento - 2011, Telecom Italia Future Centre, Venice</li>
		     <li></li>
		 </ul>
		 <h3>Conferences:</h3>
		 <ul class="t-list">
		     <li>Service Experience Camp 2014 - Volunteer</li>
		     <li>Thingscon 2014 - Volunteer</li>
		     <li></li>
		 </ul>
		 <h3>Speaking:</h3>
		 <ul class="t-list">
		     <li>"You got an idea. Now what?" barcamp session -  Service Experience Camp 2014</li>
		     <li></li>
		 </ul>

	</div>
	<div class="large-4 medium-4 small-12 offset-2 columns">
		<p><img src="/assets/img/profile.png" alt=""></p>
	</div>
</div>

{% endblock %} 