{% block content %}
<div class="row">
	<div class="large-6 medium-6 small-12 columns">
		<p>I am currently based in <del>Latina</del> <del>Rome</del> <del>Turin</del> <del>Venice</del> <del>London</del> Berlin.</p>
		<p>I am a very sociable person and you can currently find me on twitter, linkedin, github, instagram or you could just drop me an email </p>
	</div>
	<div class="large-4 medium-4 small-12 offset-2 columns">
		<p><img src="/assets/img/profile.png" alt=""></p>
	</div>
</div>

{% endblock %} 